*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
mozilla-central
\.settings/

**/assets/web_extensions/Maskbook/
Maskbook.zip

setting/src/androidAndroidTest/assets/backup