<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dimension.maskbook.wallet">
<!--    TODO replace with accurate queries-->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="wc" />
        </intent>
        <!--        <package android:name="com.wallet.crypto.trustapp" />-->
        <!--        <package android:name="vip.mytokenpocket" />-->
    </queries>
</manifest>