<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dimension.maskbook.wallet">
    <application>
        <activity
            android:exported="true"
            android:name=".ComposeActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/ComposeActivityTheme">
            <intent-filter>
                <data android:scheme="maskwallet" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>
</manifest>